.active{
    text-decoration: none;
    color: tomato;
    font-size: 20px;
}
.default{
    text-decoration: none;
    color: black;
   font-size: 17px;
}
.mobilenav{
    width: 100%;
    position: -webkit-sticky;
    position:fixed;
    top: 0;
    z-index: 1000;
   
}
.navlink{
     display: inline-block;
    padding: 20px 16px 0px 16px;
    text-decoration: none;
    color: #36495a;
    text-transform: uppercase;
    font-size: 12;
    font-weight: bold;
    transition: .2s;
}
.navlink:hover{
    color: tomato;
}

.lowernavbar{
    width: 100%;
    position: -webkit-sticky;
    position:fixed;
    bottom: 0;
    z-index: 1000;
    height: 300px;
    border: 1px solid red;
}

